body{
    margin: 0;
    padding: 0;
    background-color:#fffbeb;
}

#head{
    height: 40px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 402;
    background-color: #fffbeb;
    margin: 0;
    border-radius: 2px;
}

#zx{
    height: 25px;
    width: 100%;
    top: 0;
    /* text-decoration: none; */
    
    /* background-color: rgb(255, 0, 43); */
    /* position: fixed; */
}

.fg{
    font-weight: bolder;
    text-decoration:none;
    color: rgb(116, 66, 74);
    
}

.fg:hover{
    color: blue;
    font-size: larger;
    text-shadow: 1px 1px 1px red;
}

a{
    text-decoration: none;
}
#nobi1{
    padding-left: 55%;
    font-size: xx-large;
    border-right: 2px solid rgb(58, 57, 57);
    padding-right: 2px;
}


#nobi2{
    font-size: xx-large;
    padding-left: 5px;
    border-right: 2px solid rgb(58, 57, 57);
}

#nobi3{
    font-size: xx-large;
    padding: 5px ;
}

#nobi4{
    font-size: xx-large;
    padding: 5px;
    border-right: 2px solid rgb(58, 57, 57);
}




#cs{
    
    text-align: center;
    color: orange;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px green;
}

#tk{
    text-align: center;
    /* text-shadow: 2px 2px 2px black; */
}

#ks{
    text-align: center;
    font-size: larger;
    color: rgb(0, 0, 0);
}
#hk{
    font-size:x-large;
    font-weight: 400px;
    color: red;
    /* font-style: italic; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#gk{
    text-indent: 2%;
    font-size: larger;
    font-family:cursive;
}

.df{
    text-align: center;
    text-shadow: 2px 2px 2px red;
    color: blue;
    font-size: xx-large;
}

.ii{
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(74, 73, 73);
}

.image{
    text-align: center;
}

#sectionid{
    text-align: center;
}